/*--------------------------------------------------
    ## Footer
---------------------------------------------------*/

.footer-area {
	position: relative;
    &:before {
        opacity: 0.98;
        background: var(--black-color);
    }
 	.widget {
 		margin-bottom: 50px;
 	}
	.widget-title {
        font-size: 22px;
		margin-bottom: 33px;
	}
	.widget_nav_menu {
        @include res-ab(lg) {
            @include container(max-content);
        }
		ul {
			margin: 0;
			padding: 0;
            li {
                font-family: var(--heading-font);
                a {
                    &:hover {
                        color: var(--primary-color);
                    }
                }
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
		}
	}
	.gallery-photos {
		display: flex;
        flex-wrap: wrap;
        margin: 0 -5px -10px;
        a {
            margin: 0 5px 10px;
            width: calc(33.333% - 10px);
            img {
                width: 100%;
                border-radius: 3px;
            }
        }
	}
    .widget_subscribe {
        p {
            margin-top: -7px;
        }
        form {
            padding: 5px;
            display: flex;
            margin-top: 25px;
            background: white;
            border-radius: 5px;
            align-items: center;
            input {
                width: 100%;
                border: none;
                padding-left: 13px;
            }
            button {
                color: white;
                border: none;
                font-size: 20px;
                padding: 4px 15px;
                border-radius: 5px;
                background: var(--primary-color);
            }
        }
    }
    .widget_recent_post {
        ul {
            li {
                display: flex;
                align-items: center;
                .image {
                    flex: none;
                    max-width: 68px;
                    margin-right: 20px;
                    img {
                        border-radius: 5px;
                    }
                }
                .content {
                    line-height: 1;
                    h6 {
                        line-height: 1.3;
                    }
                    span {
                        a {
                            display: flex;
                            font-size: 14px;
                            align-items: center;
                            i {
                                margin-right: 5px;
                                color: var(--primary-color);
                            }
                        }
                    }
                }
                &:not(:last-child) {
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                }
            }
        }
    }
    .footer-counter-wrap {
        display: flex;
        @include res-bl(md) {
            flex-wrap: wrap;
        }
        .counter-item {
            margin-top: 18px;
            margin-bottom: 0;
            .counter-item__icon {
                font-size: 20px;
                line-height: 40px;
                margin-right: 12px;
                @include size(41px, 40px);
            }
            .count-text {
                color: white;
                font-size: 20px;
            }
            .counter-title {
                font-size: 12px;
                text-transform: uppercase;
            }
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }
}

.footer-top {
    overflow: hidden;
    background: white;
    border-radius: 5px;
    margin-bottom: -95px;
    transform: translateY(-95px);
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.2);
    .subscribe-part {
        padding: 40px;
        @include res-bl(xs) {
            @include gapLR(padding, 25px);
        }
        h4 {
            margin-bottom: 20px;
            color: var(--heading-color);
            @include res-bl(xs) {
                font-size: 25px;
            }
        }
        form {
            display: flex;
            @include res-bl(ms) {
                flex-wrap: wrap;
            }
            input {
                width: 100%;
                padding: 9px 30px;
                margin-right: 20px;
                border-radius: 3px;
                border: 1px solid #F2F2F2;
                @include res-bl(ms) {
                    margin: 0 0 15px;
                }
            }
        }
    }
    .hotline-part {
        height: 100%;
        padding: 60px;
        text-align: center;
        @include res-bl(ms) {
            @include gapLR(padding, 25px);
        }
        h4 {
            @include flexcenter(center);
            i {
                line-height: 1;
                margin-right: 10px;
                color: var(--primary-color);
            }
        }
        .h3 {
            font-size: 38px;
            font-weight: 800;
            font-family: var(--heading-font);
            @include res-bl(xs) {
                font-size: 30px;
            }
        }
    }
}

.footer-bottom__inner {
    color: white;
    flex-wrap: wrap;
    font-weight: 500;
    background: #202122;
    padding: 22px 30px 8px;
    @include flexcenter(space-between);
    border-left: 3px solid var(--primary-color);
    border-right: 3px solid var(--primary-color);
    @include res-bl(xs) {
        @include gapLR(padding, 20px);
    }
    .donate-by {
        margin-bottom: 15px;
        span {
            margin-right: 10px;
        }
    }
    .copyright {
        p {
            margin-bottom: 15px;
        }
    }
}

/* Footer Area Two */
.footer-area--two {
    background: #2B2D32;
    .widget-title {
        font-size: 20px;
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 28px;
        &:after {
            height: 1px;
            width: 30px;
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
            background: var(--primary-color);
        }
    }
    .gallery-photos {
        max-width: 210px;
        margin: 0 -2.5px -5px;
        a {
            margin: 0 2.5px 5px;
            width: calc(33.333% - 5px);
        }
    }
    .widget_nav_menu {
        @include res-bl(xl) {
            margin-left: 0;
        }
    }
    .footer-bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.08);
        .footer-bottom__inner {
            border: none;
            background: transparent;
            @include gapLR(padding, 0);
        }
    }
}

/* Footer Area Three */
.footer-area--three {
    .widget-title {
        font-size: 20px;
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 28px;
        &:after {
            height: 1px;
            width: 30px;
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
            background: var(--primary-color);
        }
    }
    .widget_nav_menu {
        @include res-bl(xl) {
            margin-left: 0;
        }
    }
    .footer-bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.08);
        .footer-bottom__inner {
            border: none;
            background: transparent;
            @include gapLR(padding, 0);
        }
    }
    &:before {
        opacity: 1;
        background: linear-gradient(185deg, rgba(35, 35, 35, 0.41) -55%, #232323 55%);
    }
}