/*---------------------------------------------------
	## Widgets
----------------------------------------------------*/
.main-sidebar .widget-title {
    font-size: 20px;
    padding-left: 15px;
    margin-bottom: 40px;
    border-left: 4px solid var(--primary-color);
}

.main-sidebar .widget {
    &:not(:last-child) {
        margin-bottom: 60px;
    }
}

.widget_search .search-form {
    overflow: hidden;
	position: relative;
    border-radius: 3px;
    .form-group {
        margin-bottom: 0;
    }
    input {
        width: 100%;
        border: 0;
        height: 50px;
        background: #F2F2F2;
        padding: 0 55px 0 22px;
        &:focus {
            border: 0;
            outline: 0;
        }
    }
    button {
        position: absolute;
        right: 0;
        top: 0;
        border: 0;
        height: 100%;
        color: white;
        padding: 10px;
        font-size: 30px;
        cursor: pointer;
        background: var(--primary-color);
        &:focus,
        &:active { 
            outline: 0;
            box-shadow: none;
        }
    }
}


.widget_catagory {
    ul {
        li {
            a {
                width: 100%;
                display: flex;
                font-weight: 500;
                padding: 11px 17px;
                background: rgba(0, 0, 0, 0.03);
                @include res-ab(xs) {
                    font-size: 18px;
                }
                &:before {
                    font-size: 0.9em;
                    content: "\f14a";
                    transition: 0.5s;
                    margin-right: 12px;
                    color: var(--primary-color);
                    font-family: 'Font Awesome 5 Free';
                }
                &:hover {
                    color: white;
                    background: var(--primary-color);
                    &:before {
                        color: white;
                    }
                }
            }
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }
}


.widget-recent-post {
    > ul {
        .media {
            padding: 11px;
            border-radius: 8px;
            align-items: center;
            border: 1px solid #F2F2F2;
            .media-left {
                flex: none;
                width: 33%;
                max-width: 100px;
                margin-right: 14px;
            }
            .media-body {
                max-width: 240px;
                .title a:hover {
                    color: var(--primary-color);
                }
                .post-info {
                    display: flex;
                    font-size: 14px;
                    align-items: center;
                    li {
                        display: flex;
                        align-items: center;
                        i {
                            margin-right: 6px;
                            color: var(--primary-color);
                        }
                        &:not(:last-child) {
                            margin-right: 14px;
                        }
                    }
                    @include res-bt(lg, xl) {
                        font-size: 13px;
                        li i {
                            display: none;
                        }
                    }
                    @include res-bl(xs) {
                        font-size: 13px;
                        li i {
                            display: none;
                        }
                    }
                }
            }
        }
        > li {
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
}

.widget-recent-causes {
    li {
        padding: 10px;
        display: flex;
        border-radius: 8px;
        align-items: center;
        border: 1px solid #F2F2F2;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        .image {
            flex: none;
            width: 33%;
            max-width: 111px;
            margin-right: 20px;
        }
        .content {
            h6 {
                font-size: 18px;
                margin-bottom: 15px;
                a:hover {
                    color: var(--primary-color);
                }
            }
            .cause-price {
                line-height: 1;
                font-size: 15px;
                font-weight: 700;
                font-family: var(--heading-font);
                span {
                    display: block;
                    i {
                        margin-right: 6px;
                        color: var(--primary-color);
                    }
                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}

.widget_tag_cloud {
    .tagcloud {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -15px 0;
        a {
            transition: 0.5s;
            font-weight: 800;
            padding: 7px 16px;
            border-radius: 3px;
            background: #F2F2F2;
            margin: 0 15px 15px 0;
            font-family: var(--heading-font);
            &:hover {
                color: white;
                background: var(--primary-color);
            }
        }
    }
}

.widget_cta {
    .cta-widget-inner {
        padding: 50px;
        overflow: hidden;
        border-radius: 3px;
        text-align: center;
        background-size: cover;
        @include overlay(black, 0.8);
        h5 {
            color: white;
            font-size: 20px;
            line-height: 1.3;
            margin-bottom: 25px;
        }
    }
}

.widget-event-info {
    padding: 25px 30px;
    border-radius: 8px;
    background: var(--lighter-color);
    @include res-bl(xs) {
        @include gapLR(padding, 20px);
    }
    ul {
        margin-bottom: 0;
        li {
            display: flex;
            .icon {
                margin-top: 6px;
                font-size: 25px;
                margin-right: 20px;
                color: var(--primary-color);
            }
            .content {
                h6 {
                    margin-bottom: 5px;
                    @include res-ab(xs) {
                        font-size: 20px;
                    }
                }
            }
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}

.widget-upcoming-event {
    > ul > li {
        padding: 10px;
        display: flex;
        border-radius: 8px;
        align-items: center;
        border: 1px solid #F2F2F2;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        .image {
            width: 30%;
            flex: none;
            max-width: 100px;
            margin-right: 15px;
        }
        .content {
            h6 {
                line-height: 1.3;
                margin-bottom: 12px;
                a:hover {
                    color: var(--primary-color);
                }
                @include res-ab(xs) {
                    font-size: 18px;
                }
            }
            .blog-meta {
                margin-bottom: 0;
                li {
                    font-size: 15px;
                    &:not(:last-child) {
                        padding-right: 0;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.widget_location {
    iframe {
        width: 100%;
        height: 220px;
    }
}

.event-sidebar {
    .widget {
        &:not(:last-child) {
            margin-bottom: 35px;
        }
    }
    .widget-title {
        font-size: 25px;
        margin-bottom: 20px;
    }
}