/*--------------------------------------------------
    ## CTA
---------------------------------------------------*/

.cta-area {
    .section-title {
        p {
            @include container (600px);
            @include res-ab(md) {
                font-size: 20px;
            }
        }
    }
    &:before {
        opacity: 1;
        background: linear-gradient(189.16deg, rgba(35, 35, 35, 0.41) -28.68%, #232323 75.27%);
    }
}