/*---------------------------------------------------
	## Portfolio
----------------------------------------------------*/

.portfolio-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include gapLR(margin, -6px);
    li {
        line-height: 1;
        cursor: pointer;
        font-weight: 800;
        transition: 0.5s;
        border-radius: 5px;
        padding: 12px 20px;
        margin: 0 6px 10px;
        text-transform: uppercase;
        font-family: var(--heading-font);
        border: 1px solid rgba(27, 34, 45, 0.19);
        @include res-bl(sm) {
            font-size: 14px;
            padding: 10px 18px;
        }
        &:hover,
        &.current {
            color: white;
            background: var(--primary-color);
            border-color: var(--primary-color);
        }
    }
}

.portfolio-item {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
    img {
        width: 100%;
    }
    .portfolio-item__over {
        position: absolute;
        @include size(100%);
        left: 0;
        top: 0;
        opacity: 0;
        display: flex;
        transition: 0.5s;
        padding: 33px 26px;
        flex-direction: column;
        justify-content: flex-end;
        background: rgba(27, 34, 45, 0.62);
        h5 {
            opacity: 0;
            transition: 0.5s;
            margin-bottom: 4px;
            transform: translateY(-25px);
            @include res-bl(xs) {
                font-size: 20px;
            }
            a {
                color: white;
            }
        }
        .category {
            opacity: 0;
            color: white;
            font-size: 14px;
            transition: 0.5s;
            transform: translateY(-25px);
        }
        .details-btn {
            position: absolute;
            font-size: 20px;
            color: white;
            right: 30px;
            top: 30px;
            opacity: 0;
            transition: 0.5s;
            transform: translate(-25px);
            @include circle(var(--primary-color), 47px);
        }
    }
    &:hover {
        .portfolio-item__over {
            opacity: 1;
            h5, .category, .details-btn {
                opacity: 1;
                transition-delay: 0.35s;
                transform: translate(0);
            }
            h5 {
                transition-delay: 0.4s;
            }
        }
    }
}


/* Portfolio Details */
.portfolio-details-content {
    .title {
        @include res-bl(md) {
            font-size: 35px;
        }
        @include res-bl(ms) {
            font-size: 30px;
        }
    }
    blockquote {
        padding: 35px 50px;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        font-style: italic;
        border-radius: 10px;
        @include container(1075px);
        background: var(--lighter-color);
        @include res-bl(sm) {
            font-size: 18px;
            @include gapLR(padding, 25px);
        }
        .quote-icon {
            font-size: 40px;
            margin-bottom: 20px;
            color: var(--primary-color);
        }
    }
}